* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 95%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 2.5%;
    z-index: 9999;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-top: 70px;
    list-style: none;
}

nav ul#left {
    float: left;
}

nav ul.icone-menu-mobile{
    float: right;
    display: none;
}

nav ul#right {
    float: right;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 80%;
}

nav ul li a#account {
    border: 1px solid white;
    padding: 9px 29px;
}

nav ul li a:hover {
    background-color: #f2b705;
    transition-duration: 0.8s;
}

nav ion-icon {
    width: 45px;
    height: 45px;
    color: white;
    margin-top: -10px;
    margin-left: 20px;
}

nav ion-icon:hover {
    color: #f2b705;
    cursor: pointer;
}

section {
    padding: 55px 0 80px;
}

header {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(../img/secao08-background-capa.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 1024px;
    border-top: 5px solid #078c31;
}

header div#call {
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
    top: 30%;
    left: auto;
}
/* weekend */


section.sunday {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.sunday-left,
.sunday-right {
    position: relative;
    width: 15%;
}

.sunday-center {
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.keys-master {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.key-point {
    text-align: center;
    width: 25%;
}

.key-point ion-icon {
    width: 75px;
    height: 75px;
    color: #F03733;
}

div.leaf1 {
    position: absolute;
    top: 40px;
    left: 40px;
    background-image: url(../img/secao09-folha1.png);
    background-repeat: no-repeat;
    width: 150%;
    height: 150%;
}

div.shrimp {
    position: absolute;
    top: 250px;
    left: 0px;
    background: url(../img/secao09-camarao.jpg) no-repeat;
    width: 150%;
    height: 150%;
}

div.leaf2 {
    position: absolute;
    top: 500px;
    left: 50px;
    background-image: url(../img/secao09-folha2.png);
    background-repeat: no-repeat;
    width: 150%;
    height: 150%;
}

div.leaf3 {
    position: absolute;
    top: 100px;
    left: 20px;
    background: url(../img/secao09-folha3.png) no-repeat;
    width: 160%;
    height: 150%;
}

div.tomato {
    position: absolute;
    top: 300px;
    left: 100px;
    background: url(../img/secao09-tomate.png) no-repeat;
    width: 160%;
    height: 150%;
}

div.cheese {
    position: absolute;
    top: 600px;
    left: 10px;
    background: url(../img/secao09-queijo.jpg) no-repeat;
    width: 160%;
    height: 150%;
}

/* Pizza */

section.pizza {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(../img/secao10-background-secao-pizza.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

div.master-options {
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
}

div.pizza-options {
    width: 33.3%;
    text-align: center;
    margin: 5px 0;
}

/* seção - depoimentos */

.opnion {
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1)), url(../img/secao11-background-secao-depoimento.png);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.master-opnion {
    width: 100%;
    height: 300px;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.opnion-left,
.opnion-right {
    width: 15%;
    height: 300px;
    cursor: pointer;
}

.master-opnion ion-icon {
    width: 90%;
    height: 90%;
    color: #F03733;
}

.opnion-left ion-icon {
    opacity: 0.5;
}

.center-opnion {
    margin: 0 auto;
    width: 70%;
    height: 300px;
    position: relative;
    max-width: 1010px;
    overflow: hidden;
}

.opnions{
    position: absolute;
    left: 0;
    width: 2680px;
}

.master-opnion .center-opnion .opnions ul{
    display: inline-table;
    width: 300px;
    list-style: none;
    background-color: white;
    padding: 30px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 50px 15px;

}

.master-opnion .center-opnion .opnions ul li{
    display: inline-table;
    margin: 0;
    width: 90%;
    list-style: none;

}

.master-opnion .center-opnion .opnions ul h5{
    font-size: 140%;

}

.master-opnion .center-opnion .opnions ul p{
    line-height: 1.5;
    color: #404040;
    font-size: 90%;
}

.master-opnion .center-opnion .opnions ul img{
    width: 40%;
    border-radius: 50px;
    margin-top: -80px;
    margin-bottom: 20px;
    border: 5px solid #F03733;
    
}

/* transition */

.plane_opnion{
    width: 100%;
    height: 280px;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
}

.plane_opnion .decoration1{
    width: 30%;
    height: 100%;
    background-image: url(../img/secao13-tomate-manjericao-alho.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    
}

.plane_opnion .decoration2{
    width: 30%;
    height: 100%;
    background-image: url(../img/secao13-azeite.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

.plane_opnion .decoration3{
    width: 30%;
    height: 100%;
    background-image: url(../img/secao13-detalhe-tomate.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
}


/* planss */

section.plano-principal{
    height: 800px;
    width: 100%;

}

.planos-janela{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.planos{
    width: 250px;
    height: 450px;
    margin: 80px 30px;
}

.planos-top{
    width: 100%;
    height: 350px;
    background-color: #f7f7f7;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
    text-align: center;
    box-shadow: 2px 2px 3px #ccc;
}

.planos-bottom{
    width: 100%;
    height: 100px;
    background-color: #078c31;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 3px #ccc;
    cursor: pointer;
}
/* ---------------------------- */
/*           FOOTER             */
/* ---------------------------- */
div#transicao-plano-rodape {
    width: 100%;
    height: 36px;
    background-image: linear-gradient(
    rgba(255,255,255,1),
    rgba(255,255,255,0.5)), 
    url(../img/secao15-mesa-xadrez-clara.png);
    background-repeat: repeat-x;
    margin-top:100px;
}

footer {
    padding-top: 36px;
    padding-left: 36px;
    width: 100%;
    height: 500px;
    background-image: url(../img/secao15-mesa-xadrez.png);
    background-repeat: repeat;
    border-bottom:10px solid #F03733;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

footer div#mapa {
    width: 35%;
    height: 390px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 3px 10px #404040;

}


footer div#info {
    width: 30%;
    height: 390px;
    background-color: #F03733 ;
    box-shadow: 0 3px 10px #404040;
  
}

footer div#redes-sociais {
    width: 100%;
    height: 70px;
    display: flex;
    /*flex-flow:row wrap = define que os elementos serão organizados em linha
    e que quebrarão de linha quando não estiverem cabendo na tela*/
    flex-flow: row wrap;
    /*justify-content: space-evenly = aplica um espaçamento entre os 
    elementos filho pegando o espaço que resta
    no pai e aplicando uma média entre os elementos*/
    justify-content: space-evenly;
}

footer div#redes-sociais ion-icon {
    color:#fff;
    height: 100%;
    width: 20%;
    cursor:pointer;
}

footer div#redes-sociais ion-icon:hover {
    color:#F2B705;
}


footer div#pizza-rodape-decoracao {
    width: 300px;
    height: 390px;
    margin-top:-100px;
    background-image: url(../img/secao15-pizza-rodape.png);
    background-repeat: no-repeat;
}




